.detail-product {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 20px;
}

.right {
    width: 40%;
    height: 300px;
}

.image {
    display: block;
    margin: 0px auto;
    object-fit: contain;
    width: 100%;
    height: 350px;
    border: 1px solid #0f0e17;
    margin-left: 20px;
    margin-top: 20px;
}

.left {
    width: 60%;
    height: 100%;
    padding-left: 20px;
}

.content {
    margin-top: 20px;
    padding-left: 10%;
}

.name-product {
    font-size: 15px;
    line-height: 1.2em;
    color: #0f0e17;
    font-weight: 600;
    display: block;
}

.product-info {
    padding-top: 10px;
    color: #0f0e17;
    font-size: 12px;
}

.product-price {
    color: #fe302e;
    font-weight: 600;
    font-family: Georgia, Sans-serifrif;
    font-size: 25px;
    font-style: italic;
    margin-top: 3px;
    line-height: 40px;
}

.product-button {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-button-item {
    padding-right: 30px;
}

.button {
    /* background-color: #000; */
    /* border: none; */
    /* color: white; */
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 3px;
}

.button-hover {
    background-color: #ff8906;
    color: #fffffe;
    border: 2px solid #0f0e17;
}

.button-hover:hover {
    background-color: #fffffe;
    color: black;
}

img {
    /* display: block; */
    max-width: 100%;
    border-radius: 5px;
}

.product-image-detail {
    display: flex;
    margin: 20px auto;
    object-fit: cover;
}

input {
    width: 20%;
    border-radius: 10px;
    text-align: center;
}

.cart {
    text-decoration: none;
    display: none;
}

.chitiet{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 14px;
}

@media (min-width: 576px) {
    .button {
        /* background-color: #000; */
        /* border: none; */
        /* color: white; */
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.5s;
        cursor: pointer;
        border-radius: 3px;
    }
    .name-product {
        font-size: 23px;
        line-height: 1.2em;
        color: #0f0e17;
        font-weight: 600;
        display: block;
    }
    
    .product-info {
        font-size: 16px;
        padding-right: 20px;
        padding-top: 10px;
        color: #0f0e17;
    }
    
    .product-price {
        color: #fe302e;
        font-weight: 600;
        font-family: Georgia, Sans-serifrif;
        font-size: 31px;
        font-style: italic;
        margin-top: 3px;
        line-height: 40px;
    }
}